/********************************************************************
 * @plugin     ModernPolls
 * @file	   resources/asstes/css/modern-polls-backend.css
 * @date       15.04.2018
 * @author     Felix Tzschucke <f.tzschucke@gmail.com>
 * @copyright  2018 Felix Tzschucke
 * @license    GPL2
 * @version    1.0.0 Release
 * @link       https://felixtz.de/
 ********************************************************************/

#wp-polls-pollbar-bg {
	width: 25px;
	height: 25px;
	border: 1px solid #000000;
}
#wp-polls-pollbar-border {
	width: 25px;
	height: 25px;
	border: 1px solid #000000;
}

.mpp-body_wrapper {
	margin-left: -20px;
}
.mpp-container {
	background-color: #fff;
	width: 90%;
	margin: auto;
	margin-top: 20px;
	padding: 10px 35px;
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
.mpp-body_wrapper form {
	width: 100%;
}
.mpp-body_wrapper h2 {
	font-size: 23px;
	font-weight: 400;
	margin: 0;
	padding: 9px 0 4px;
	line-height: 29px;
	color: #212529;
}
.mpp-body_wrapper h3 {
	color: #6c757d;
}
.mpp-border_bottom {
	padding-bottom: .5rem!important;
	border-bottom: 1px solid #dee2e6!important;
}
/*
.mpp-body_wrapper table th {
	color: #6c757d!important;
	font-weight: 400;
}
*/

.mpp-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 10px;
}
.mpp-col-8 {
	flex: 0 0 66.666667%;
}
.mpp-col-4 {
	flex: 0 0 33.333333%;
}
.mpp-col-3 {
	margin-right: 20px;
	flex: 0 0 25%;
}

.mpp-postbox {
	border: 1px solid #e5e5e5;
	background: #fff;
	margin: 20px 20px;
}
.mpp-postbox_title {
	font-size: 14px;
	padding: 8px 12px;
	margin: 0;
	line-height: 1.4;
	font-weight: 500;
	cursor: pointer;
	border-bottom: 1px solid #e5e5e5;
}
.mpp-postbox_inside {

}

input.mpp-input {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
select.mpp-select {
	height: auto;
}
select.mpp-select_last {
	height: auto;
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem;
}
.spacer_bottom {
	margin-bottom: 8px;
}

.mpp-input_group {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
}
.mpp-input_group_prepend {
	display: flex;
	margin-right: -1px;
}
.mpp-input_group_append {
	display: flex;
	margin-left: -1px;
}

.mpp-input_group_text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	white-space: nowrap;
	background-color: #e9ecef;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.mpp-input_group_text_secondary {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	white-space: nowrap;
	background-color: #e9ecef;
	border: 1px solid #ced4da;
	border-radius: 0;
}

.mpp-input_group input, .mpp-input_group select {
	margin: 0;
	position: relative;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 1%;
	margin-bottom: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.mpp-input_group button {
	cursor: pointer;
	position: relative;
	z-index: 2;

	color: #6c757d;
	background-color: transparent;
	background-image: none;

	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid #6c757d;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.mpp-input_group button:hover {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

/***** START BTN *****/

.mpp-btn {
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.mpp-btn_primary {
	padding: 5px 15px;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
.mpp-btn_primary:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}
.mpp-btn_secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.mpp-btn_secondary:hover {
	color: #fff;
	background-color: #5a6268;
	border-color: #545b62;
}
.mpp-btn_light {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}
.mpp-btn_light:hover {
	color: #212529;
	background-color: #e2e6ea;
	border-color: #dae0e5;
}
.mpp-btn_danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}
.mpp-btn_danger:hover {
	color: #fff;
	background-color: #c82333;
	border-color: #bd2130;
}
.mpp-btn_warning {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}
.mpp-btn_warning:hover {
	color: #212529;
	background-color: #e0a800;
	border-color: #d39e00;
}
.mpp-btn_info {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}
.mpp-btn_info:hover {
	color: #fff;
	background-color: #117a8b;
	border-color: #10707f;
}
.mpp-btn_ls {
	width: 100%;
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: .2rem;
}

/***** END BTN *****/


span.small {
	display: block;
	color: #6c757d!important;
	font-size: 13px;
	font-weight: 500;
}
#mpp-startTime, #mpp-multipleAnswers, #mpp-template {
	margin-bottom: 20px;
}
.mpp-postbox_content, .mpp-postbox_actions {
	padding: 8px 12px;
}
.mpp-postbox_actions {
	border-top: 1px solid #ddd;
	background: #f5f5f5;
}
.mpp-publish_action {
	float: right;
}
.mpp-close_action, .mpp-open_action {
	float: left;
}
.mpp-clearfix {
	clear: both;
}
.mpp-input_group_text input {
	height: 15px;
	width: 15px;
	min-width: 0px;
}

.mpp-error .mpp-input_group_text,
.mpp-error input,
.mpp-error button{
	border-color: #dc3232 !important;
}
.mpp-error .mpp-input_group_text {
	color: #dc3232;
}
p.mpp-error {
	margin: 0;
	margin-left: 35px;
	margin-top: -10px;
	color: #dc3232;
}

/* table */
table.mpp-table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
	border-collapse: collapse;
}
table.mpp-table th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
	padding: .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
}
table.mpp-table td {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
.mpp-table_hover tbody tr:hover {
	background-color: rgba(0, 0, 0, .075);
}
.mpp-table_hover {

}
.mpp-infoBtn, .mpp-warningBtn, .mpp-dangerBtn {
	float: right;
}
.mpp-warningBtn, .mpp-infoBtn {
	margin-right: 15px;
}

/***** START TOOLTIP *****/
.mpp-tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

/* Tooltip text */
.mpp-tooltip .mpp-tooltiptext {
	visibility: hidden;
	width: 150px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 10px;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
}

.mpp-tooltip:hover .mpp-tooltiptext {
	visibility: visible;
}
.mpp-tooltip-bottom {
	top: 135%;
	left: 0;
	margin-left: -60px;
}
.mpp-tooltip-bottom::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent #555 transparent;
}
/***** END TOOLTIP *****/

.mpp-container_head {

}
.mpp-container_head h2 {
	float: left;
}
.mpp-container_head a, .mpp-container_head button{
	float: right;
	margin-top: 4px;
}

#wp-mpp_content-wrap {
	width: 100%;
}
h3.mpp-content {
	margin-bottom: 0;
}
.mpp-row_content {
	padding-top: 0;
}
.mpp-input_group input.mpp-checkbox_xl {
	height: auto;
}
.mpp-input_group input.mpp-checkbox_xl:before {
	font-size: 33px;
	text-align: center;
	width: 100%;
	margin: 0;
}
.mpp-input_group input.mpp-checkbox_xl:disabled {
	background-color: #f3f3f3;
}

/***** START TAB NAV *****/
.mpp-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.mpp-nav_tabs {
	cursor: pointer;
	margin-bottom: 1rem;
	border-bottom: 1px solid #dee2e6;
}
.mpp-nav_item {

}
.mpp-nav_tabs .mpp-nav_item {
	margin-bottom: -1px;
}
.mpp-nav_link {
	display: block;
	padding: .5rem 1rem;
}
.mpp-nav_tabs .mpp-nav_link {
	border: 1px solid transparent;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}
.mpp-nav_tabs .mpp-nav_link:hover {
	border-color: #e9ecef #e9ecef #dee2e6;
}
.mpp-nav_tabs .mpp-nav_link.mpp-active {
	color: #495057;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
}
.mpp-nav_show {

}
.mpp-tab_content {
	padding: 20px;
	padding-top: 5px;
}
.mpp-tab_content>.mpp-tab_pane {
	display: none;
}
.mpp-tab_content>.mpp-active {
	display: block;
}
.mpp-tab_pane {

}
.mpp-tab_pane_fade {
	opacity: 0;
	transition: opacity .15s linear;
}
.mpp-tab_pane_fade.mpp-tab_pane_show {
	opacity: 1;
}
.mpp-tab_pane_active {

}
.mpp-tab_pane_show {

}
/***** END TAB NAV *****/

/***** CARD *****/
.mpp-card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}

.mpp-card_header {
	text-align: center;
	font-weight: 500;
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(0,0,0,.03);
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.mpp-card_header:first-child {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.mpp-card_body {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}
.mpp-card_body img {
	width: 100%;
}
/***** END CARD *****/

.mpp-template_btn {
	float: right;
	margin-bottom: -26px;
	padding: 0;
	top: -21px;
}
.mpp-template_tooltip {
	left: 145%;
}