/********************************************************************
 * @plugin     ModernPolls
 * @file       resources/asstes/css/mpp-iconfont.css
 * @date       15.04.2018
 * @author     Felix Tzschucke <f.tzschucke@gmail.com>
 * @copyright  2018 Felix Tzschucke
 * @license    GPL2
 * @version    1.0.0 Release
 * @link       https://felixtz.de/
 ********************************************************************/

@font-face {
  font-family: 'mpp_iconfont';
  src: url('../font/mpp_iconfont.eot?63882789');
  src: url('../font/mpp_iconfont.eot?63882789#iefix') format('embedded-opentype'),
       url('../font/mpp_iconfont.woff2?63882789') format('woff2'),
       url('../font/mpp_iconfont.woff?63882789') format('woff'),
       url('../font/mpp_iconfont.ttf?63882789') format('truetype'),
       url('../font/mpp_iconfont.svg?63882789#mpp_iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="mpp-icon-"]:before, [class*=" mpp-icon-"]:before {
  font-family: "mpp_iconfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.mpp-icon-edit:before { content: '\e800'; }
.mpp-icon-trash:before { content: '\e801'; }
.mpp-icon-chart-bar:before { content: '\e802'; }