/********************************************************************
 * @plugin     ModernPolls
 * @file       resources/asstes/css/mpp-iconfont-codes.css
 * @date       15.04.2018
 * @author     Felix Tzschucke <f.tzschucke@gmail.com>
 * @copyright  2018 Felix Tzschucke
 * @license    GPL2
 * @version    1.0.0 Release
 * @link       https://felixtz.de/
 ********************************************************************/

.mpp-icon-edit:before { content: '\e800'; } /* '' */
.mpp-icon-trash:before { content: '\e801'; } /* '' */
.mpp-icon-chart-bar:before { content: '\e802'; } /* '' */