/********************************************************************
 * @plugin     ModernPolls
 * @file       resources/asstes/css/mpp-iconfont-ie7.css
 * @date       15.04.2018
 * @author     Felix Tzschucke <f.tzschucke@gmail.com>
 * @copyright  2018 Felix Tzschucke
 * @license    GPL2
 * @version    1.0.0 Release
 * @link       https://felixtz.de/
 ********************************************************************/

[class^="mpp-icon-"], [class*=" mpp-icon-"] {
  font-family: 'mpp_iconfont';
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
}
 
.mpp-icon-edit { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;'); }
.mpp-icon-trash { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;'); }
.mpp-icon-chart-bar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;'); }