/********************************************************************
 * @plugin     ModernPolls
 * @file       default.css
 * @date       15.04.2018
 * @author     Felix Tzschucke <f.tzschucke@gmail.com>
 * @copyright  2018 Felix Tzschucke
 * @license    GPL2
 * @version    1.0.0 Release
 * @link       https://felixtz.de/
 ********************************************************************/

.mpp-default_container {
    user-select: none;
    border: 1px solid #ebedf0;
    border-radius: 4px;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}
.mpp-default_question {
    padding: 10px 35px;
    text-align: center;
    border-bottom: 1px solid #ebedf0;
}
.mpp-default_question_text {

}
.mpp-default_answers {
    padding: 30px 30px;
    background-color: #f7f7f7;
}
.mpp-default_answer {
    background: #fff;
    line-height: 45px;
    padding: 0px 15px;
    border-radius: 2px;
    border: 1px solid #ebedf0;
    -webkit-box-shadow: 0 2px 0 rgba(2,24,43,.04);
    box-shadow: 0 2px 0 rgba(2,24,43,.04);
    margin-bottom: 8px;

    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.mpp-default_radio_input,
.mpp-default_checkbox_input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;

}
.mpp-default_radio_input:hover,
.mpp-default_checkbox_input:hover {
    background: #9faab7;
}
.mpp-default_radio_input:checked,
.mpp-default_checkbox_input:checked {
    background: #40e0d0;
}
.mpp-default_radio_input:checked::before,
.mpp-default_checkbox_input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
}
.mpp-default_radio_input:checked::after,
.mpp-default_checkbox_input:checked::after {
    -webkit-animation: mpp-click-wave 0.65s;
    -moz-animation: mpp-click-wave 0.65s;
    animation: mpp-click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
.mpp-default_radio_input::after {
     border-radius: 50%;
}
.mpp-default_radio_input {
    border-radius: 50%;
}

.mpp-default_answer.mpp-checkbox.mpp-checkbox_disabled {
    opacity: 0.6;
}

.mpp-default_radio_label,
.mpp-default_checkbox_label{
    display: inline-block;
    cursor: pointer;
    width: 85%;
}

.mpp-default_actions {
    text-align: center;
    padding: 0px 0px 20px;
    background-color: #f7f7f7;
}
.mpp-default_actions button:hover{
    opacity: 0.8;
    border-color: #cecece;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.mpp-default_actions button {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ebedf0;
    color: #67717a;
    cursor: pointer;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 11px;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    padding: 8px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mpp-default_answerResults canvas {
    padding: 25px 20px 0px;
    background-color: #f7f7f7;
}
@keyframes mpp-click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }
    100% {
        height: 100px;
        width: 100px;
        margin-left: -30px;
        margin-top: -30px;
        opacity: 0;
    }
}

.mpp-default_answer:hover {
    border: 1px solid #cecece;
    cursor: pointer;

    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.mpp-default_answer:hover .mpp-default_radio_input:not(:checked) {
    background: #9faab7;
}