<div class="mpp-default_container" id="mpp_{{id}}">

    <div class="mpp-default_question">

        <div class="mpp-default_question_text">
            {{question}}
        </div>

    </div>

    <div>
        <p>Sie haben an dieser Umfrage bereits teilgenommen,</p>
        <p>wir bedanken uns für Ihre Teilnahme.</p>
    </div>

</div>