<div class="mpp-default_container" id="mpp_{{id}}">

    <div class="mpp-default_question">

        <div class="mpp-default_question_text">
            {{question}}
        </div>

    </div>

    <div>
        <p>Vielen dank für Ihre Teilnahme!</p>
    </div>

</div>